.login-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}
.login-logo{
margin-bottom: 30px;
}
.login-logo img{
    width: 240px;
    max-width: 100%;
    height: auto;
    display: block;
}
.login-card{
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: var(--color-light);
    border: 1px solid var(--color-grey);
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}
.login-card h1{
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 10px;
    font-family: var(--font-family1);
}
.login-descripcion{
    text-align: center;
    font-size: 18px;
    color: var(--color-grey);
    margin-bottom: 20px;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}
.formulario label{
font-size: 15px;
font-weight: 600;
}
.formulario input{
    width: 100%;
    padding: 15px;
   border: 1px solid var(--color-dark);
    border-radius: 8px;
    font-size: 14px;
    font-family: inherit;
    transition: border-color 0.10s ease;
}
.formulario input:focus{
    border-color: var(--color-primary);
}
.recuperacion{
    text-align: right;
    margin-top: -5px;
    margin: 20px;
}
.recuperacion a{
    color: var(--color-primary);
    font-size: 15px;
    text-decoration: none;
}
.recuperacion a:hover{
    text-decoration: underline;
}

.login-boton{
    width: 100%;
    padding: 14px;
    background-color: var(--color-secondary);
    border: none;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.login-boton:hover{
background-color: var(--color-dark);
color: var(--color-textlight);
}
.p-registro{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: var(--color-grey);
}
.p-registro a{
    color: var(--color-textdark);
    font-weight: 600;
}
.inicio{
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--color-textdark);
}
.inicio:hover{
    color: var(--color-primary);
}

/*tablet*/
@media (max-width: 769px){
    /* ===== LOGIN ===== */
    .login-page {
        padding: 30px 25px;
    }

    .login-logo img {
        width: 210px;
    }

    .login-card {
        max-width: 430px;
        padding: 35px;
    }


}

/*celular*/
@media (max-width: 480){
    .login-page {
        padding: 20px 15px;
    }

    .login-logo {
        margin-bottom: 20px;
    }

    .login-logo img {
        width: 180px;
    }

    .login-card {
        width: 100%;
        max-width: 380px;
        padding: 25px 20px;
        border-radius: 15px;
    }

    .login-card h1 {
        font-size: 24px;
    }

    .login-descripcion {
        font-size: 15px;
    }

    .formulario input {
        padding: 12px;
    }

    .recuperacion {
        margin: 15px 0;
    }

    .recuperacion a {
        font-size: 13px;
    }

    .login-boton {
        padding: 12px;
    }
}
