@import url(bar.css);
@import url(login.css);
@import url(suscripcion.css);
@import url(registro.css);
@import url(contacto.css);
@import url(post.css);
@import url(sidebar.css);
@import url(hero.css);
@import url(footer.css);
@import url(nosotros.css);
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
:root {
    --color-primary: #F25D27;
    --color-secondary: #F27F3D;
    --color-dark: #1C2026;
    --color-light: #F2EFEB;
    --color-textdark: #172334;
    --color-textlight: #DEE2E5;
    --color-background: #f5f1ea;
    --color-grey: #686868;

}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text)
}

